preprocessor_crimes_10k_2.pkl
random_forest_model_crimes_10k_2.pkl

/City_Boundaries/City_Boundaries.cpg
/City_Boundaries/City_Boundaries.dbf
/City_Boundaries/City_Boundaries.prj
/City_Boundaries/City_Boundaries.shx

/daneprojekt

/__pycache__/