ttteee.py
uuu.py
test.py
test2.py
test4.py

/City_Boundaries/City_Boundaries.cpg
/City_Boundaries/City_Boundaries.dbf
/City_Boundaries/City_Boundaries.prj
/City_Boundaries/City_Boundaries.shx

/daneprojekt

/__pycache__/